.box {
    height: 200px;
    width: 200px;
    font-size: 30px;
    padding: 5px;
    border: 2px solid;
    position: absolute;
}

.box1 {
    background-color: red;
    z-index: 1;
}

.box2 {
    background-color: blue;
    top: 50px;
    left: 50px;
    /* z-index: 2; */
}
.box3 {
    background-color: orange;
    top: 100px;
    left: 100px;
}