.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.btn-1 {
    background-color: #007bff;
    color: white;
}

.btn-1:hover {
    background-color: #165ca7;
}

.btn-2 {
    background-color: #f4e91d;
    color: black;
}

.btn-2:hover {
    background-color: #d9d02e;
}

.accordian-heading {
    margin: 10px;
    background-color: beige;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.accordian-heading:hover + .accordion-content {
    max-height: 50px;
}

